@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1.1fr 4fr;
 
}

/* sidebar styling starts here*/

.sidebar {
    grid-row: 1/3;
    height: 100vh;
    padding-left: 1rem;
    background-color: #0ea5e9;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    position: sticky;
    top: 0;
}

.menu-item, 
.dashboard {
    color: white;
    font-weight: bold;
    gap: 1rem;
    cursor: pointer;

    display: flex;
    align-items: center;
}

.menu-item {
    font-size: 1.5rem;
    padding-left: 0.5rem;
}

.menu-items {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.upper-items,
.bottom-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


/* header styling starts here*/


.header {
    grid-column: 2/3;

    display: grid;
    grid-template-rows: 1fr 2fr;
    box-shadow: 0px 15px 10px -15px;
}

.header img,
.header svg {
    cursor: pointer;
}

.search-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
}

.search-container {
    display: flex;
    align-items: center;
    width: 35rem;
    gap: 5px;
}

.user-info {
    display: flex;
    align-items: center;
    width: 20rem;
    gap: 1.5rem;
}

.search-box {
    all: unset;
    background-color:#d6f1ed ;
    flex: 1;
    border: 1px solid none;
    border-radius: 15px;
    height: 2rem;
    padding-left: 1rem;
    
}

.search-box:focus {
    border: 1px none none;
}

.welcome-buttons {
    padding-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.welcome {
    display: flex;
    align-items: center;
    gap: 1rem;

}

.welcome-text p {
    font-weight: bold;
}

.welcome-text p,
.welcome-text h2 {
    padding: 0;
    margin: 0;
}

.buttons {
    display: flex;
    gap: 2rem;
    margin-right: 5rem;
}

.buttons button {
   background-color: #0ea5e9;
   border: 1px solid #0ea5e9;
   color: white;
   font-weight: bold;
   font-size: 1rem;
   cursor: pointer;

   height: 2.5rem;
   width: 6rem;
   border-radius: 15px;
}

/* main content styling starts here*/


.main-content {
    background-color: #d6f1ed;
    grid-column: 2/3;
    min-height: 100vh;

    display: grid;
    grid-template-rows: auto 1fr;
}


.pro-ann-headings {
    display: grid;
    grid-template-columns: 1fr auto;
}

.contents {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 1rem;
    margin: 1rem;
}

.card {
    border-left: 0.5rem solid orange;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 15px 10px -15px;
}

.card p {
    color: #757575;
}

.card {
    display: grid;
    grid-template-rows: auto 1fr;
}

.card-icons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
    
}

.ann-trend {
    display: grid;
    gap: 1rem;
    margin: 1rem;

}

.ann, 
.trend{
   background-color: white;
   padding: 1rem;
   border-radius: 15px;
   font-size: 12px;
   color: #757575;
   box-shadow: 0px 15px 10px -15px;

}

.ann h3,
.trend h3,
.trend .mention {
    color: black;
}

.trend > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 3rem;
}

.pro-heading {
    margin-left: 1rem;
}

.ann-heading {
    margin-right: 1rem;
}

.border-ann {
    border-top: 1px solid #757575;
    border-bottom: 1px solid #757575;
}